<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/css/styleC.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div id="sideboxmain">
            <div id="boxmain">
                <div>
                    <div id="cadastro">
                        <p>
                            CADASTRO
                        </p>
                    </div>
                </div>
                <div id="flex">
                    <div class="bloco um">
                        <input class="input one" type="text" name="Nome" placeholder="Nome">

                        <input class="input two" type="email" name="Email" placeholder="Email">
                    </div>
                    <div class="bloco dois">
                        <input class="input tree" type="text" name="phone" placeholder="Telefone">

                        <input class="input four" type="text" name="user" placeholder="Usuário">
                    </div>
                    <div class="bloco tres">
                        <input class="input five" type="password" name="password" placeholder="password">

                        <input class="input six" type="password" name="password" placeholder="password">
                    </div>
                </div>
                <div class="botoes">
                    <a href="../templates/index.html">
                        <button>
                            CANCELAR
                        </button>
                    </a>
                    <a href="../templates/login.html">
                        <button>
                            CONFIRMAR
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>