<html>

<head>
    <meta charset="utf-8" />
    <title>Generic</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header id="Home">
        <nav class="navigation">
            <div id="lefttopbox">
                <div>
                    <img src="../static/imagens/inicio/uma logo generica.png" id="logo">
                </div>
                <div>
                    <a href="index.html" id="namelogo">
                        <button>
                            generic
                        </button>
                    </a>
                </div>
            </div>
        <nav>
                <div>
                    <a href="#SobreNos" class="navbuttons">Sobre nós</a>
                    <a href="#Home" class="navbuttons">Home</a>
                    <a href="#Produto" class="navbuttons">Produto</a>
                </div>
        </nav>
            <div>
                <a href="../templates/login.html">
                    <button id="login" class="linkbutton">
                        Login
                    </button>
                </a>
                <a href="../templates/cadastro.html">
                    <button id="register" class="linkbutton">
                        Cadastrar
                    </button>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <div>
                <div id="divWellcome">
                    <h2 id="wellcome">
                        Seja bem vindo ao
                    </h2>
                    <h2 id="detach">
                        Site
                    </h2>
                </div>
                <div>
                    <h1 class="intro">
                        Uma ferramenta poderosa dedicada a combater a violência, <br/> o abuso e a discriminação contra mulheres, crianças e <br/> pessoas LGBTQIA+.
                    </h1>
                </div>
            </div>
            <div>
                <img id="image" src="../static/imagens/inicio/Nosferatu Zodd.jfif">
            </div>
        </div>
    </main>
    <footer id="footer">
        <div id="content">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis inventore odit soluta libero? Impedit molestiae labore reprehenderit? Facere magnam quibusdam nobis, itaque repellendus repudiandae, illo fugiat autem facilis, similique voluptatibus
            </p>
        </div>
    </footer>
</body>
</html>