<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/styleL.css">
    <script src="../static/script/scriptL.js" defer></script>
</head>
<body>
    <header>
        <div id="menu">
            
        </div>
    </header>
    <main>
        <div id="loginrectangle">
            <div id="login">
                <p>
                    Login
                </p>
            </div>
            <div id="divmid">
                <div>
                    <div>
                        <p class="nameinput">
                            Usuário
                        </p>
                    </div>
                    <div id="rectangleuser">
                        <form action="">
                            <input type="text" name="user" placeholder="Usuário" class="user">
                        </form>
                    </div>
                </div>
                <div id="divmid2">
                    <div>
                        <p class="nameinput">
                            Senha
                        </p>
                    </div>
                    <div id="rectanglepass">
                        <form action="">
                            <input type="text" name="password" placeholder="Senha" class="password">
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <a>
                    <button id="buttonEnter">
                        Entrar
                    </button>
                </a>
            </div>
            <div>
                <a href="../templates/index.html" id="linkHome">
                    Voltar ao início
                </a>
            </div>
        </div>
    </main>
</body>
</html>